<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center" color="success">
    <ion-title>Mengenal Jawi</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-grid>
    <ion-row>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ج<br>jim</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ث<br>sa</b></h3></div>
      </ion-col>

      <ion-col size="7">
        <div class="myDiv"><h3><b>ة<br>tamarbutto</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ت<br>ta</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ب<br>ba</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ا<br>aliff</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ر<br>ro</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ذ<br>dzal</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>د<br>dal</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>چ<br>ca</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>خ<br>kho</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ح<br>kha</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ظ<br>dzo</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ض<br>dhod</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ص<br>tso</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ش<br>syin</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>س<br>sin</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ز<br>zai</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ط<br>to</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ڤ<br>pa</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ق<br>kof</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ف<br>fa</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>غ<br>ghain</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ع<br>ain</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>و<br>wau</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ن<br>nun</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>م<br>mim</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ل<br>lam</b></h3></div>
      </ion-col>

      

      <ion-col size="5">
        <div class="myDiv"><h3><b>ك<br>kaf</b></h3></div>
      </ion-col>

      
   
      <ion-col size="5">
        <div class="myDiv"><h3><b>ي<br>yaa</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ء<br>hamzah</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>لا<br>lam alif</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ه<br>ha</b></h3></div>
      </ion-col>

      <ion-col size="5">
        <div class="myDiv"><h3><b>ۏ<br>va</b></h3></div>
      </ion-col>


    </ion-row>
    </ion-grid>
    </ion-content>

