
<ion-header>
  
  <ion-toolbar color="success">
    <ion-title ><h4> Koleksi Video <br> Belajar Jawi</h4></ion-title>

    <ion-buttons slot="start"   >
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  



  <ion-card color="warning">
    <ion-card-title >Cara menyambung huruf</ion-card-title>
    <video width="100%" controls="controls" preload="metadata" 
     webkit-playsinline="webkit-playsinline" 
    class="videoPlayer">
      <source src= "assets/sambung1.mp4" type="video/mp4">
    </video>
    <ion-card-subtitle><ion-card-subtitle>ڤركوڠسين اين دكوڠسي اوليه استاذه جوميسارا دري ارس تۏڤ. </ion-card-subtitle></ion-card-subtitle>
  </ion-card>

  <ion-card color="warning">
    <ion-card-title>Formula mengeja jawi</ion-card-title>
    <video width="100%" controls="controls" preload="metadata" 
     webkit-playsinline="webkit-playsinline" 
    class="videoPlayer">
      <source src= "assets/eja1.mp4" type="video/mp4">
    </video>
    <ion-card-subtitle>ڤركوڠسين اين دكوڠسي اوليه استاذه جوميسارا دري ارس تۏڤ. </ion-card-subtitle>
  </ion-card>

  <ion-card color="warning">
    <ion-card-title>Belajar Khat 1.0</ion-card-title>
    <video width="100%" controls="controls" preload="metadata" 
     webkit-playsinline="webkit-playsinline" 
    class="videoPlayer">
      <source src= "assets/khat1.mp4" type="video/mp4">
    </video>
    <ion-card-subtitle>ڤركوڠسين اين دكوڠسي اوليه ابو هزيايق</ion-card-subtitle>
  </ion-card>

  

  <ion-card color="warning">
    <ion-card-title>Belajar khat 2.0</ion-card-title>
    <video width="100%" controls="controls" preload="metadata" 
     webkit-playsinline="webkit-playsinline" 
    class="videoPlayer">
      <source src= "assets/khat2.mp4" type="video/mp4">
    </video>
    <ion-card-subtitle>ڤركوڠسين اين دأمبيل دري اڤڤليكسي يوتوبي دان دكوڠسي اوليه ساودارا فريد</ion-card-subtitle>
  </ion-card>
  
  

  
  
</ion-content>

