.myDiv {
    border:  solid rgb(236, 164, 204);
    background-color: rgb(224, 19, 190);
    text-align: center;
    text-decoration-color: #47b4f3;
    text-emphasis-color: #47f380;

}
ion-toolbar{
    --background:#5ea069;
}