<ion-header>
  <ion-toolbar color="success">
    <ion-title>FAQ's</ion-title>

    <ion-buttons slot="start"   >
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  
  <ion-text color="dark">
     <h1>What is Huruf Jawi page content? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>The page is display about all the Jawi words. </h1>
  </ion-text>
</ion-card>

<ion-card>
  <ion-text color="dark">
     <h1>What is Asas Jawi page content? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>The page shows that Jawi words have 3 categories.<br> 
        There have 3 slides that separated 3 categories<br>
        The category is Ajnabi, Mahram and Tunggal
    </h1>
  </ion-text>
</ion-card>

<ion-card>
  <ion-text color="dark">
     <h1>What is Asas Jawi page content? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>The page shows that Jawi words have 3 categories.<br> 
        There have 3 slides that separated 3 categories.<br>
        The category is Ajnabi, Mahram and Tunggal<br>
        User can click the slide then it shows to user each Jawi words after has been categories.
    </h1>
  </ion-text>
</ion-card>

<ion-card>
  <ion-text color="dark">
     <h1>What is Asas Jawi page content? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>The page shows that Jawi words have 3 categories.<br> 
        There have 3 slides that separated 3 categories.<br>
        The category is Ajnabi, Mahram and Tunggal<br>
        User can click the slide then it shows to user each Jawi words after has been categories.
    </h1>
  </ion-text>
</ion-card>

<ion-card>
  <ion-text color="dark">
     <h1>What is Tutorial Jawi page content? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>The page have videos that users can learn about Jawi knowledge.
    </h1>
  </ion-text>
</ion-card>

<ion-card>
  <ion-text color="dark">
     <h1>What is Tukar Rumi ke Jawi  function? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>Function of Tukar Rumi ke Jawi<br>
      is to translate Rumi word to Jawi word.
    </h1>
  </ion-text>
</ion-card>

<ion-card>
  <ion-text color="dark">
     <h1>What is Tema Aplikasi   function? </h1>
  </ion-text>

  <ion-text color="secondary">
    <h1>This button can change either to dark mode or light mode.
    </h1>
  </ion-text>
</ion-card>

</ion-content>
