<ion-header>
  <ion-toolbar >
    <ion-title><h1>حروف اجنبي</h1></ion-title>

    <ion-buttons slot="start"   >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
 
<ion-content >
  
 

  <ion-button   color="primary"  shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>ي</b></h3></div>
  </ion-col>
</ion-button>

  <ion-button  color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>ۏ</b></h3></div>
  </ion-col>
</ion-button>

  <ion-button   color="primary" shape="round" size="large">
  <ion-col size="6"  class="ion-text-center">
    <div class="myDiv"><h3><b>و</b></h3></div>
  </ion-col>
</ion-button>

  <ion-button   color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>ز</b></h3><ion-reorder slot="end"></ion-reorder></div>
  </ion-col>
</ion-button>

<ion-button   color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>ر</b></h3><ion-reorder slot="end"></ion-reorder></div>
  </ion-col>
</ion-button>

  <ion-button   color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>ذ</b></h3><ion-reorder slot="end"></ion-reorder></div>
  </ion-col>
  </ion-button> 

    <ion-button  color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>د</b></h3><ion-reorder slot="end"></ion-reorder></div>
  </ion-col>
</ion-button>

  <ion-button   color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
    <div class="myDiv"><h3><b>ة</b></h3><ion-reorder slot="end"></ion-reorder></div>
  </ion-col>
  </ion-button>

  <ion-button   color="primary" shape="round" size="large">
  <ion-col size="6" class="ion-text-center">
  <div class="myDiv"><h3><b>ا</b> </h3><ion-reorder slot="end"></ion-reorder></div>
</ion-col>
</ion-button>

<ion-card>
  <img src="assets/ajnabi.png" >
</ion-card>


</ion-content>