<ion-header>
  <ion-toolbar >
    <ion-title><h1>حروف مهرام</h1></ion-title>


    <ion-buttons slot="start"   >
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  


  <ion-button   color="primary"  shape="round" size="small" >
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>ن</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary"  shape="round" size="small" >
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>م</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>ل</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary" shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>ڬ</b></h3></div>
    </ion-col>
  </ion-button>

 <ion-button  color="primary"  shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>چ</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary" shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>چ</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>چ</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>غ</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary"  shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>ع</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary"  shape="round" size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>ظ</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary" shape="round"  size="small">
    <ion-col size="4" class="ion-text-center">
      <div class="myDiv"><h3><b>ط</b></h3></div>
    </ion-col>
  </ion-button>



  <ion-button   color="primary" shape="round"  size="small">
    <ion-col size="1" class="ion-text-center" >
      <div class="myDiv"><h3><b>ض</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary" class="ion-text-center" shape="round" size="small">
    <ion-col size="4">
      <div class="myDiv"><h3><b>ص</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary" class="ion-text-center" shape="round" size="small">
    <ion-col size="4">
      <div class="myDiv"><h3><b>ش</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary"  class="ion-text-center" shape="round" size="small">
    <ion-col size="1">
      <div class="myDiv"><h3><b>س</b></h3></div>
    </ion-col>
  </ion-button>


  <ion-button   color="primary" class="ion-text-center" shape="round" size="small">
    <ion-col size="4">
      <div class="myDiv"><h3><b>خ</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  class="ion-text-center" shape="round" size="small" > 
    <ion-col size="4">
      <div class="myDiv"><h3><b>ح</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary" class="ion-text-center" shape="round" size="small">
    <ion-col size="4">
      <div class="myDiv"><h3><b>ج</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  class="ion-text-center" shape="round" size="small" >
    <ion-col size="4">
      <div class="myDiv"><h3><b>چ</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  class="ion-text-center" shape="round" size="small">
    <ion-col size="4">
      <div class="myDiv"><h3><b>ه</b></h3></div>
    </ion-col>
  </ion-button>

  <ion-button   color="primary"  class="ion-text-center" shape="round" size="small">
    <ion-col size="4">
      <div class="myDiv"><h3><b>ت</b></h3></div>
    </ion-col>
  </ion-button>
  
  <ion-button   color="primary"  class="ion-text-center" shape="round"  size="small" >
    <ion-col size="4">
      <div class="myDiv"><h3><b>ب</b></h3></div>
    </ion-col>
  </ion-button>


<ion-card>
  <img src="assets/haram.png" >
</ion-card>
  



</ion-content>


