<ion-header>
  <ion-toolbar  class="ion-text-start" color="success" >
    <ion-title><h1><b>هلامن ساتو</b></h1></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-card class="ion-text-center"  color="tertiary">
    <img  src="assets/home.jpeg"/>
  <ion-text color="dark">
      <h3>Selamat Datang ke Kenali Jawi </h3>
    <h3>سلامت داتڠ ك كنالي جاوي  </h3>
  </ion-text>
  </ion-card>

<ion-button [routerLink]="['/mengenal']"  >
  <ion-icon slot="start" name="newspaper-outline" color="light"></ion-icon>
  Huruf Jawi
</ion-button>

<ion-button [routerLink]="['/asas']"  >
  <ion-icon slot="start" name="newspaper-outline" color="light"></ion-icon>
  Asas Jawi
</ion-button>

<ion-button [routerLink]="['/tutorial']"  >
  <ion-icon slot="start" name="newspaper-outline" color="light"></ion-icon>
 Tutorial Jawi
</ion-button>

<ion-button [routerLink]="['/faq']"  >
  <ion-icon slot="start" name="newspaper-outline" color="light"></ion-icon>
  FAQ's(Help)
</ion-button>




   
  



    

</ion-content>

<ion-footer>
 
  <ion-toolbar color="success">
 <ion-title ></ion-title>
  </ion-toolbar>
  
</ion-footer>